#sidebar {
  margin: 2.2em 1em 1em 1em;
  max-width: 200px;
  width: initial;
}

article {
  max-width: 45em;
  width: initial;
}

article h2, header, .leaderboard-entry, article a {
  white-space: normal;
}

p.wrap, .sponsors {
  max-width: 45em;
  width: initial;
}

p.quiet, form#settings {
  max-width: 45em;
  width: initial !important;
}

pre, header {
  overflow: auto;
}

body {
  min-width: auto;
  padding: 0 5px;
}

.calendar {
  display: inline-block;
}

#calendar-countdown {
  color: #666;
}

form#settings input[type="checkbox"] ~ span,
form#settings input[type="radio"] ~ span {
  min-width: auto;
}

header > div {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 160px auto auto;
  justify-content: start
}

header h1 {
  padding-right: 0;
  grid-column: 1 / 2;
}

header nav {
  grid-column: 2 / 3;
}

header .user {
  grid-column: 3 / 4;
}

@media(max-width: 955px) {
  #sidebar {
    float: unset;
    max-width: initial;
    margin: 0;
  }
  #sponsor {
    margin-bottom: 1em;
  }
}

@media(max-width: 767px) {
  .calendar,
  #calendar-countdown {
    font-size: 10px;
    font-size: 2.55vw;
  }
  header .user {
    grid-column: 2 / 3;
  }
}
