#sidebar {
  margin: 2.2em 1em 1em 1em;
  max-width: 200px;
  width: initial;
}

article {
  max-width: 45em;
  width: initial;
}

article h2, header, .leaderboard-entry, article a {
  white-space: normal;
}

p.wrap, .sponsors {
  max-width: 45em;
  width: initial;
}

p.quiet, form#settings {
  max-width: 45em;
  width: initial !important;
}

pre, header {
  overflow: auto;
}

body {
  min-width: auto;
  padding: 0 5px;
}

.calendar {
  display: inline-block;
}

#calendar-countdown {
  color: #666;
}

form#settings input[type="checkbox"] ~ span,
form#settings input[type="radio"] ~ span {
  min-width: auto;
}

@media(max-width: 767px) {
  .calendar {
    font-size: 12px;
  }
  #calendar-countdown {
    font-size: 10px;
  }
  #sidebar {
    float: unset;
    max-width: initial;
  }
  header h1 {
    float: left;
    padding-right: 0;
    width: 35%;
  }
  header nav {
    display: initial;
    float: right;
    width: 65%;
  }
  header .user {
    float: left;
    padding-left: 0;
    width: 35%;
  }
}
